{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/game-index.css' %}"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Kalam:wght@300&family=Yuji+Mai&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}

<section class="page-header">
<h1>Your Collection</h1>
<img src="{% static 'images/playstation.png' %}" alt="playstation logo" />
<img src="{% static 'images/xboxlogo.png' %}" alt="xbox logo" />
<img src="{% static 'images/windowslogo.png' %}" alt="windows logo" />
<img src="{% static 'images/nintendologo.png' %}" alt="nintendologo" />
</section>

<section class="card-container">
  {% for game in games %}
    <div class="card">
      <a href="/games/{{ game.id }}">
        <div class="card-content">
          <div class="card-img-container">
            {% if game.photo.url %}
              <img 
                  src="{{game.photo.url}}" 
                  alt="A photo of {{game.name}}"
                  class="usr-img"
                >
            {% else %}
              <img 
                src="{% static 'images/trio.png' %}" 
                alt=""
              >
            {% endif %}
          </div>
            <h2 class="card-title">{{ game.name }}</h2>
          {% if game.platform %}
            <h3> Platform: {{ game.platform }}</h3>
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}